.u-section-1 .u-sheet-1 {
  min-height: 956px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 4.5rem;
  margin: 11px 292px 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1260px;
  margin: 18px -60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-gap: 21px 21px;
  min-height: 837px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 11px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 57px 0 29px;
}

.u-section-1 .u-line-1 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-image-1 {
  height: 318px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 44px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 11px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 57px 0 29px;
}

.u-section-1 .u-line-2 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-image-2 {
  height: 318px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 44px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 11px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 57px 0 29px;
}

.u-section-1 .u-line-3 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-image-3 {
  height: 318px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 44px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0 11px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 57px 0 29px;
}

.u-section-1 .u-line-4 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-image-4 {
  height: 318px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 44px auto 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 11px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 57px 0 29px;
}

.u-section-1 .u-line-5 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-image-5 {
  height: 318px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 44px auto 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0 11px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 57px 0 29px;
}

.u-section-1 .u-line-6 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-image-6 {
  height: 318px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 44px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-1 .u-text-1 {
    width: 565px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin: 7px -9px 60px auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 883px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 237px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 237px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 237px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 237px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 237px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 237px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1681px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 1522px;
  }

  .u-section-1 .u-image-1 {
    height: 272px;
  }

  .u-section-1 .u-image-2 {
    height: 272px;
  }

  .u-section-1 .u-image-3 {
    height: 272px;
  }

  .u-section-1 .u-image-4 {
    height: 272px;
  }

  .u-section-1 .u-image-5 {
    height: 272px;
  }

  .u-section-1 .u-image-6 {
    height: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3948px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 4.375rem;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 408px;
  }

  .u-section-1 .u-image-2 {
    height: 408px;
  }

  .u-section-1 .u-image-3 {
    height: 408px;
  }

  .u-section-1 .u-image-4 {
    height: 408px;
  }

  .u-section-1 .u-image-5 {
    height: 408px;
  }

  .u-section-1 .u-image-6 {
    height: 408px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2853px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 27px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 257px;
  }

  .u-section-1 .u-image-2 {
    height: 257px;
  }

  .u-section-1 .u-image-3 {
    height: 257px;
  }

  .u-section-1 .u-image-4 {
    height: 257px;
  }

  .u-section-1 .u-image-5 {
    height: 257px;
  }

  .u-section-1 .u-image-6 {
    height: 257px;
  }
}