.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-shape-1 {
  width: 626px;
  height: 626px;
  margin: 58px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1247px;
  margin: -572px auto 60px -65px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 519px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 6px;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  margin: 40px 0 0;
}

.u-section-1 .u-line-1 {
  height: 6px;
  transform-origin: right center 0px;
  width: 1221px;
  margin: 30px auto 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 166px;
  min-height: 16px;
  width: 908px;
  min-width: 160px;
  margin: 40px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 111px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.625rem;
  }

  .u-section-1 .u-line-1 {
    width: 529px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 67px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    height: 128px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -486px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 0;
    min-height: 448px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    height: 92px;
    width: 539px;
    margin-top: 75px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-top: 71px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -273px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 17px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-social-icons-1 {
    height: 49px;
    width: 325px;
    margin-top: 25px;
    margin-left: auto;
  }
}