.u-section-1 {
  min-height: 850px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 0 auto;
}

.u-section-1 .u-group-1 {
  background-image: none;
  margin-top: 38px;
  margin-bottom: 13px;
  min-height: 727px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  font-size: 4.5rem;
  margin: 23px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  grid-template-rows: repeat(1, auto);
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-1 .u-image-1 {
  width: 320px;
  height: 213px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 33px 20px 0 9px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px 5px 0 13px;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-2 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-5 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-6 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 21px;
}

.u-section-1 .u-image-2 {
  width: 320px;
  height: 213px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 33px 20px 0 9px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px 5px 0 13px;
}

.u-section-1 .u-list-icon-7 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-8 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-9 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-10 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-11 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-12 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 21px;
}

.u-section-1 .u-image-3 {
  width: 320px;
  height: 213px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 33px 20px 0 9px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 20px 5px 0 13px;
}

.u-section-1 .u-list-icon-14 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-15 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-16 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-17 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-18 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-19 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-20 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-21 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  background-image: none;
  font-size: 1.25rem;
  margin: 12px 483px 0 492px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 46px;
  min-height: 16px;
  width: 309px;
  min-width: 160px;
  margin: 7px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 880px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 383px;
    margin-left: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1264px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 0;
    min-height: 1156px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-list-1 {
    width: 660px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 848px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 273px;
    margin-left: 282px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-list-1 {
    width: 520px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 203px;
    margin-left: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 200px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
    height: 200px;
  }

  .u-section-1 .u-image-3 {
    width: 300px;
    height: 200px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 103px;
    margin-left: 112px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 888px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 4.5rem;
  margin: 22px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 642px;
  margin-top: 22px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-gallery-1 {
    height: 529px;
    margin-bottom: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-gallery-1 {
    height: 404px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-2 .u-gallery-1 {
    height: 303px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 742px;
}

.u-section-3 .u-shape-1 {
  width: 626px;
  height: 626px;
  margin: 58px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1247px;
  margin: -572px -53px 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 519px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 6px;
}

.u-section-3 .u-text-1 {
  font-size: 7.5rem;
  margin: 40px 0 0;
}

.u-section-3 .u-line-1 {
  height: 6px;
  transform-origin: right center 0px;
  width: 1221px;
  margin: 30px auto 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 145px;
  min-height: 16px;
  width: 806px;
  min-width: 160px;
  margin: 40px auto 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-3 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-section-3 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-icon-4 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-3 .u-icon-5 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 111px;
  }

  .u-section-3 .u-text-1 {
    font-size: 5.625rem;
  }

  .u-section-3 .u-line-1 {
    width: 535px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 103px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 67px;
    margin-right: 6px;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-social-icons-1 {
    height: 117px;
    width: 665px;
    margin-top: 91px;
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -487px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 0;
    min-height: 430px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-social-icons-1 {
    height: 85px;
    width: 503px;
    margin-top: 58px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -282px;
    margin-bottom: 111px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 26px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 0;
  }

  .u-section-3 .u-social-icons-1 {
    height: 52px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}